[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "external/libwebp"]
	path = external/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
